<html>

<head>
<link rel="stylesheet" href="{{theme_css_path}}" type="text/css" />
</head>

<body>
<div class="document">
<div class="documentwrapper">
<div class="body" role="main">
{{ body }}
</div>
</div>
</div>
</body>

</html>
