@font-face
  font-family: Fira Sans
  font-weight: 400
  src: url(firasans-regular.otf)

@font-face
  font-family: Fira Sans
  font-style: italic
  font-weight: 400
  src: url(firasans-italic.otf)

@font-face
  font-family: Fira Sans
  font-weight: 300
  src: url(firasans-light.otf)

@font-face
  font-family: Fira Sans
  font-style: italic
  font-weight: 300
  src: url(firasans-lightitalic.otf)

@font-face
  font-family: Fira Sans
  font-weight: 700
  src: url(firasans-bold.otf)

@page
  size: A4 portrait
  margin: 120px 30px 80px 30px
  size: 1276px 1776px
  background: white
  @bottom-right
    color: #404040
    content: "CV Sébastien MATZ - page " counter(page) "/" counter(pages)
    height: 80px
    vertical-align: middle
    text-align: right
    width: 1000px
    font-size: 18pt

@page:first
  background: url(../_static/first-page.png)
  background-repeat:  no-repeat
  margin: 0

html
  font-family: Fira Sans
  font-size: 11pt
  color: black
  font-weight: 300
  line-height: 1

  body
    a.headerlink
      display: none

    a
      color: inherit
      font-weight: inherit

    h1-h2-title
      left: 35%

    h1
      @extend h1-h2-title
      font-size: 64pt
      position: absolute
      font-weight: normal
      top: 0%

    h2
      @extend h1-h2-title
      font-size: 64pt
      position: absolute
      font-weight: bold
      top: 4%

    .title
      @extend h1-h2-title
      font-size: 28pt
      position: absolute
      font-weight: normal
      top: 12%

    .basezone
      color: white
      position: absolute
      font-weight: normal
      top: 24%
      h3
        display: none
      h4
        font-size: 24pt
        text-transform: uppercase
        border-bottom: 2px solid gray
        margin: 0
      h5
        font-size: 20pt
        margin: 20px 0 0 0
      p
        margin-left: 10px
        font-size: 18pt
        text-align: left

    section#first-page-left-zone
      @extend .basezone
      width: 30%
      left: 2%
      a
        font-weight: bold
      section#contact
        p
          margin-left: -30px

    section#first-page-right-zone
      @extend .basezone
      color: black
      width: 64%
      left: 35%
      section#competences
        section#fonctionnel
          p
            text-align: justify

    .pagebreak
      page-break-after: always

    strong
      font-weight: 600

    section#next-pages
      h3
        display: none
      h4
        font-size: 24pt
        text-transform: uppercase
        border-bottom: 2px solid gray
      h5
        font-size: 20pt
        text-transform: uppercase
      h6
        font-size: 20pt
      .info
        page-break-inside: avoid
        color: white
        padding: 30px 20px 10px 20px
        background-color: #404040
        background-image: url(../_static/info.png)
        background-repeat: no-repeat
        background-size: 32px
        background-position: 1150px 12px
        dt
          font-weight: bold
          font-size: 18pt
      p
        font-size: 18pt
        text-align: justify
      ul
        padding: 0
        ul
          padding-left: 2em

      .skills
        page-break-inside: avoid
        padding: 30px 20px 10px 20px
        border: 1px solid black
        font-family: monospace
        background-image: url(../_static/skills.svg)
        background-repeat: no-repeat
        background-size: 32px
        background-position: 1150px 12px
